body {
    font-family: 'Helvetica Neue', Roboto, sans-serif;
    background-color: #f8f9fa;

    background-color: #fbfaf7;
    background-color: #fffefb;

    color: #1932c8;

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header {
    color: rgb(25, 9, 202);
    color: #1932c8;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    width: 500px;
    box-sizing: border-box;
}

/* on mobile */
@media (max-width: 800px) {
    .header {
        width: 90%;
    }
}


.header h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    margin: 10 auto 10;
    font-style: normal;
    font-weight: 400;
}

.header h2 {
    /* font-family: 'Helvetica Neue', Roboto, sans-serif; */
    font-family: monospace;
    font-size: 0.85em;
    margin-bottom: 0.5em;
    font-style: normal;
    font-weight: 400;
}

.header p {
    /* todo find suitable */
    font-family: Roboto, sans-serif;
    /* font-family: 'Helvetica Neue', Roboto, sans-serif; */
    font-family: monospace;

    /* justiy text */


    text-align: justify;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    font-style: normal;

    font-weight: 400;
    color: #576078;
}


.header span {
    display: flex;
    justify-content: center;
}

.header h2:nth-of-type(1) {
    margin-right: 50px;
}

.parent {
    max-width: 92%;
    min-width: 80%;
}

.container {
    background-color: white;
    background-color: #ffffff;
    background-color: #ae4141;
    background-color: #ffffff;

    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
}


.vega-embed {
    border: none;

}

.vega-lite .mark-rect {
    stroke: none;
}

.vega-tooltip {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}

.vega-tooltip-container div {
    margin-bottom: 5px;
}

form.vega-bindings {
    position: absolute;
    /* right: 160px; */
    bottom: -20px;
}

.container {
    margin-top: 30px;
}

.accent-button {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/* modular divs */

.spacer50 {
    width: 50%;
}

.taller50 {
    height: 50px;
}

.taller100 {
    height: 100px;
}

.vis {
    display: flex !important;
    justify-content: center !important;
    flex-direction: row !important;

    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size: 1em !important;

    /* border for testing*/
    /* border: 1px solid #1932c8; */
}

#barChartExports {
    margin-left: -8% !important;
    width: 88% !important;
    margin-bottom: 30px !important;
}

#mapImports {
    width: 80% !important;
    /* padding-top: 80px !important; */
    padding-bottom: 10px !important;
    margin-bottom: 40px !important;
    margin-left: 0.5% !important;
}

#streamGraphTop5 {
    width: 80% !important;
    margin-bottom: 40px !important;
    margin-left: 5% !important;
}

#lineChartPrices {
    width: 80% !important;
    margin-left: 2.5% !important;
    margin-bottom: 40px !important;
}

#lineChartPriceDiff {
    width: 80% !important;
    margin-left: 2.5% !important;
    margin-bottom: 40px !important;
}

#smallMultiplesGrowers {
    width: 80% !important;
    margin-left: 2.5% !important;
    margin-bottom: 40px !important;
}

#smallMultiplesRetail {
    width: 80% !important;
    margin-left: 1% !important;
    margin-bottom: 40px !important;
}

.horizontalcontainer {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    margin-top: 20px !important;
}


.footer {
    padding: 5px;
    padding-left: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;

    margin-top: 0px;

    font-family: 'Helvetica Neue', Roboto, sans-serif;
    text-align: left;
    font-size: 0.95em;
    margin-bottom: 0.5em;
    font-style: normal;

    font-weight: 400;
}

.sources-disclaimers .divider {
    margin-bottom: 40px;
}

.sources-disclaimers h3 {
    margin-bottom: 0px;
}

.sources-disclaimers p a {
    display: block;
    margin-bottom: -5px;
    font-size: 0.85em;
}


a:link {
    text-decoration: underline;
    color: #1932c8;

    text-decoration-color: #525b74;
    text-decoration-thickness: 2px;
}

a:visited {
    color: #1932c8;
    text-decoration-color: #525b74;
    text-decoration-thickness: 2px;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #fbdf85;
}

.sources-disclaimers ol {
    list-style-position: inside;
    padding-left: 0;
    font-size: 0.85em;
}