body {
    font-family: 'Helvetica Neue', sans-serif;
    /* Or any other modern sans-serif font like 'Open Sans', 'Lato', etc. */
    background-color: #f8f9fa;
    /* Light gray background - keep or change as desired */
    background-color: #ffffff;
    /* Light gray background - keep or change as desired */
    color: #1932c8;
    /* Darker text color for better contrast */
    margin: 0;
    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    align-items: center;
    /* Center content horizontally */
    min-height: 100vh;
}

.header {
    color: rgb(25, 9, 202);
    /* White text for the header */
    color: #1932c8;
    padding: 20px;
    text-align: center;
    /* Center the header text */
    margin-top: 50px;
    width: 500px;
    /* max-width: 50%; */
    /* Full width header */
    box-sizing: border-box;
    /* Include padding in the width */
}

/* on mobile */
@media (max-width: 800px) {
    .header {
        width: 90%;
        /* Full width header */
    }
}

.header p{
/* align left */
    font-family: 'Helvetica Neue', sans-serif;  
    text-align: left;
    font-size: 0.95em;
    margin-bottom: 0.5em;
    font-style: normal;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

    font-weight: 400;
}

.header h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.8em;
    margin: 10 auto 10;
    font-style: normal;
    font-weight: 400;
}

.header h2{
    font-family: 'Helvetica Neue', sans-serif;
    /* serif font */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 0.8em;
    margin-bottom: 0.5em;
    font-style: normal;
    font-weight: 400;
    /* color: #525b74; */
}

.header span{
    display: flex;
    justify-content: center;
}

/* margin for first header h2 */
.header h2:nth-of-type(1){
    margin-right: 50px;
}

.facet-title{
    /* color:rgb(25, 9, 202); */
}

.container {
    background-color: white;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    max-width: 92%;
    min-width: 80%;
    margin: 20px auto;
    box-sizing: border-box;
}


.vega-embed {
    border: none;
    
}

.vega-lite .mark-rect {
    stroke: none;
}

.vega-tooltip {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}

.vega-tooltip-container div {
    margin-bottom: 5px;
}

.vega-bindings {
    display: flex;
    align-items: center;
    gap: 10px;
}


.vega-bind {
	position: absolute;
	top: 13px;
    left: 0px;
    /* color:rgb(25, 9, 202); */

  }

.vega-bind span {
    font-size: 12px;
}

.vega-bind{
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
    /* font-size: 12px; */
    /* color:rgb(25, 9, 202); */
}

.container {
    margin-top: 30px;
}

.accent-button {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* modular divs */

.spacer50{
    width: 50%;
}

.vis {
    display: flex;
    justify-content: center;
    flex-direction: row;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;

    /* border */
    /* border: 1px solid #1932c8; */
}

#barChartExports{
    width: 50%;
    height: 500px;
}

#mapImports{
    width: 50%;
    height: 500px;
    padding-top: 10px;
}

#streamGraphTop5{
    width: 50%;
}

#lineChartPrices{
    width: 42%;
}

 #lineChartPriceDiff{
    width: 50%;
}

.horizontalcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
